.grid {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  & span {
    margin-bottom: 1em;
  }
}

#visualizer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 100vw;
  z-index: -1;
  pointer-events: none;
}
